dnspython==1.16.0
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.9
jdcal==1.4.1
mccabe==0.6.1
mysql-connector-python==8.0.19
mysql-connector-python-rf==2.2.2
openpyxl==3.0.3
protobuf==3.15.0
pycodestyle==2.5.0
pyflakes==2.1.1
six==1.14.0
XlsxWriter==1.2.8
